<tr id="inventario-{{inventario.id}}">
    <th scope="row">{{inventario.id}}</th>
    <td>{{inventario.item}}</td>
    <td>{{inventario.quantidade}}</td>
    <td>{{inventario.descricao}}</td>
    <td>
        <button class="btn btn-primary"
        c-get="{{url_for('inventario.form_edit_inventario', inventario_id=inventario.id)}}"
        c-target="#form-inventario"> 
        Editar
        </button>

        <button class="btn btn-danger"
        c-delete="{{url_for('inventario.deletar_item', inventario_id=inventario.id)}}"
        c-remove-closest="tr"> 
        Deletar
        </button>
    </td>

</tr>